<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件列表</title>
</head>
<body>
    <ul>
        <% for(var i = 0; i < files.length;i++){%>
            <li>
                <% if(url == "/") { %>
                    <a href="<%= files[i]%>"><%=files[i]%></a>
                   <%}else{%>
                    <a href="<%= url+ '/'+files[i]%>"><%=files[i]%></a>
                <%}%>
            </li>
        <%}%>
    </ul>
</body>
</html>